<div class="blog-item d-flex justify-content-between">
    <div class="checker"><span class=""><input type="checkbox"></span></div>
</div>

<div class="text-center">
  <h2>{{title}}</h2>
  
  <p>{{content}}</p>
  <p>Created by: {{user.username}}</p>
   <p>Comments:</p>
    {{#each blog_comments}}
    <li>{{ this.comment_text }}</li>
  {{/each}}
 {{blog_comments.comment_text}}</p>
  <p>{{format_date date_created}}</p>
  

<div class="row mt-4">
  <h4>Add a Comment!</h4>
  <div class="col-md-12">
    <form action="/api/blog/{{id}}/comments" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="comment_text">Comment:</label>
        <textarea class="form-control" id="comment_text" name="comment_text" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>