<!--create form to submit blog post-->
<h2 class="text-center">Dashboard</h2>
<form class="dashboard-form">
  <div class="container mb-2 col-10 col-md-6 col-lg-5 bg-dark text-light py-3 px-5 rounded">
    <label class="form-label" for="blog">New Post</label>
    <input id="blog-title" class="form-control" type="text" placeholder="Enter the title of your blog" aria-label="title" required autofocus>
    <input id="blog-content" class="form-control" type="text" placeholder="Enter the contents of your blog" aria-label="contents" required autofocus>
    <button class="btn btn-primary btn-block" type="sumbit">Submit Blog</button>
  </div>
</form>

<h3>Existing Blog Posts</h3>
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each blogs as |blog| }}
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text"><a href="/blog/{{blog.dataValues.id}}">{{blog.dataValues.title}}</a></h4>
          <p class="card-text">Authored by: {{blog.user.dataValues.username}} on {{format_date blog.dataValues.created_date}}</p>
          <p class="card-text">{{blog.dataValues.contents}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div> 

